<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content= "width=device-width, initial-scale=1.0">
    <link href="output.css" rel="stylesheet">
    <title>To Do List</title>
  </head>

  <body class="sm:mx-auto sm:w-3/5 h-screen overflow-hidden">
    
    <div class="app h-screen">
      <h1 class="font-black text-6xl text-center italic">Todo List</h1>
      
      <form onsubmit="submitHandler(event)"
	    class="my-2 flex justify-between">
	<input type="text" placeholder="Todo text" v-model="inputTodo"
	       class="px-2 h-10 w-10/12 border rounded">
	<input type="submit" value="{{ submitType }}"
	       class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 border border-blue-700 rounded" >
      </form>
      
      <div class="border rounded p-2 h-3/4">
	<div class="tab flex">
	  <div onclick="showTodo(event)"
	       class="{{todoTab}} font-black text-4xl italic m-2 cursor-pointer">
	    Todo</div>
	  <div onclick="showDone(event)"
	       class="{{doneTab}} font-black text-4xl italic m-2 cursor-pointer">
	    Done</div>
	</div>

	<ul v-for="tasks" 
	    class="{{showTodo}} h-5/6 overflow-scroll"> 
	  <li id="{{id}}" 
	      class="flex items-center my-2" >
	    <input type="checkbox" 
		   onclick="toggleStatus(event)"
		   class="h-6 w-6 bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 border border-blue-700 rounded" /> 

	    <div class="w-5/6 align-middle mx-2 outline-dashed rounded p-2">
	      {{ data }}
	    </div>
	    <button onclick="editHandler(event)" 
		    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 border border-blue-700 rounded" > 
	      Edit </button>
	    <button onclick="deleteHandler(event)"
		    class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 border border-blue-700 rounded mx-2"> Delete </button>
	  </li>
	</ul>
	
	<ul v-for="doneList" 
	    class="{{showDone}} h-5/6 overflow-scroll"> 
	  <li id="{{id}}" 
	      class="flex items-center my-2" >
	    <input type="checkbox" 
		   checked
		   onclick="toggleStatus(event)"
		   class="h-6 w-6 bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 border border-blue-700 rounded" /> 
	    <div class="w-5/6 align-middle mx-2 outline-dashed rounded p-2">
	      {{ data }}
	    </div>
	    <button onclick="editHandler(event)"
		    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 border border-blue-700 rounded" > Edit </button>
	    <button onclick="deleteHandler(event)"
		    class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 border border-blue-700 rounded mx-2" > Delete </button>
	  </li>
	</ul>
      </div>

	    
      <div class="confirm-box w-1/2 h-48 shadow border rounded absolute top-0 left-1/4 hidden bg-white">
	  <div class="absolute top-8 left-4">
	      {{ prompt }}
	  </div>
	  <button class="confirm absolute bottom-0 left-0 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 border border-blue-700 rounded m-2"> Confirm </button>
	  <button class="cancel absolute bottom-0 right-0 bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 border border-blue-700 rounded m-2"> Cancel </button>
      </div>
    </div>
  </body>
  <script type="text/javascript" src="mini-vue.js"></script>


  <script>
     const miniVue = new MiniVue({
         el: '.app',
         data: {
	     inputTodo: "",
	     tasks : [],
	     doneList: [],
	     submitType: "Submit",
	     prompt: "",
	     showTodo: "",
	     showDone: "hidden",
	     todoTab: "underline",
	     doneTab: "",
         }
     })

     // if('serviceWorker' in navigator) {
     // 	navigator.serviceWorker.register('/service-worker.js', { scope: '/' });
     // }
  </script>
  <script type="text/javascript" src="core.js"></script>
  <script type="text/javascript" src="app.js"></script>
</html>
